<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>{{state.title}}</ion-nav-title>
    <ion-content scroll="{ isBrowserView : platform.isWeb == false }"
                 ng-class="{ isBrowserView : platform.isWeb == true }">
        <ion-refresher on-refresh="refreshCharts()"></ion-refresher>
        <div ng-cloak>
            <div class="card" ng-show="!state.variableObject.charts" style="border-radius: 15px;">
                <div class="item">
                    <div class="row">
                        <ion-spinner></ion-spinner>
                        <p style=" text-align: center; line-height: normal; font-size: 18px; margin: auto;">&nbsp &nbsp Fetching
                            measurements...</p>
                    </div>
                    <div class="row" style="text-align: center;">
                        <svg style="margin: auto;" width="200px"  height="200px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-pacman" style="background: none;"><g ng-attr-style="display:{{config.showBean}}" style="display:block"><circle cx="80.8182" cy="50" r="4" ng-attr-fill="{{config.c2}}" fill="#f47e60"><animate attributeName="cx" calcMode="linear" values="95;35" keyTimes="0;1" dur="1" begin="-0.67s" repeatCount="indefinite"></animate><animate attributeName="fill-opacity" calcMode="linear" values="0;1;1" keyTimes="0;0.2;1" dur="1" begin="-0.67s" repeatCount="indefinite"></animate></circle><circle cx="41.2182" cy="50" r="4" ng-attr-fill="{{config.c2}}" fill="#f47e60"><animate attributeName="cx" calcMode="linear" values="95;35" keyTimes="0;1" dur="1" begin="-0.33s" repeatCount="indefinite"></animate><animate attributeName="fill-opacity" calcMode="linear" values="0;1;1" keyTimes="0;0.2;1" dur="1" begin="-0.33s" repeatCount="indefinite"></animate></circle><circle cx="61.0182" cy="50" r="4" ng-attr-fill="{{config.c2}}" fill="#f47e60"><animate attributeName="cx" calcMode="linear" values="95;35" keyTimes="0;1" dur="1" begin="0s" repeatCount="indefinite"></animate><animate attributeName="fill-opacity" calcMode="linear" values="0;1;1" keyTimes="0;0.2;1" dur="1" begin="0s" repeatCount="indefinite"></animate></circle></g><g ng-attr-transform="translate({{config.showBeanOffset}} 0)" transform="translate(-15 0)"><path d="M50 50L20 50A30 30 0 0 0 80 50Z" ng-attr-fill="{{config.c1}}" fill="#e15b64" transform="rotate(39.0272 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;45 50 50;0 50 50" keyTimes="0;0.5;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></path><path d="M50 50L20 50A30 30 0 0 1 80 50Z" ng-attr-fill="{{config.c1}}" fill="#e15b64" transform="rotate(-39.0272 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;-45 50 50;0 50 50" keyTimes="0;0.5;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></path></g></svg>
                    </div>
                </div>
            </div>
            <div ng-if="state.variableObject.charts" ng-include="'templates/fragments/charts-fragment.html'"></div>
            <div ng-if="state.variableObject" ng-include="'templates/fragments/variable-sharing-fragment.html'"></div>
            <div class="card list" id="statisticsCard" ng-if="state.variableObject.numberOfRawMeasurements">
                <label class="item item-content" ng-if="state.variableObject.numberOfRawMeasurements">
                    <span class="input-label left-text"># of measurements</span>
                    <span class="input-label right-text">{{state.variableObject.numberOfRawMeasurements}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.numberOfCorrelations">
                    <span class="input-label left-text"># of correlations</span>
                    <span class="input-label right-text">{{state.variableObject.numberOfCorrelations}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.numberOfUniqueDailyValues">
                    <span class="input-label left-text"># of unique daily values</span>
                    <span class="input-label right-text">{{state.variableObject.numberOfUniqueDailyValues}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.mean">
                    <span class="input-label left-text">Mean</span>
                    <span class="input-label right-text">{{state.variableObject.mean}} {{state.variableObject.unitAbbreviatedName}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.median">
                    <span class="input-label left-text">Median</span>
                    <span class="input-label right-text">{{state.variableObject.median}} {{state.variableObject.unitAbbreviatedName}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.mostCommonValue">
                    <span class="input-label left-text">Most common value</span>
                    <span class="input-label right-text">{{state.variableObject.mostCommonValue}} {{state.variableObject.unitAbbreviatedName}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.standardDeviation">
                    <span class="input-label left-text">Standard deviation</span>
                    <span class="input-label right-text">{{state.variableObject.standardDeviation}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.variance">
                    <span class="input-label left-text">Variance</span>
                    <span class="input-label right-text">{{state.variableObject.variance}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.skewness">
                    <span class="input-label left-text">Skewness</span>
                    <span class="input-label right-text">{{state.variableObject.skewness}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.kurtosis">
                    <span class="input-label left-text">Kurtosis</span>
                    <span class="input-label right-text">{{state.variableObject.kurtosis}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.kurtosis">
                    <span class="input-label left-text">Variable ID</span>
                    <span class="input-label right-text">{{state.variableObject.variableId}}</span>
                </label>
            </div>
            <div class="list card" ng-click="compareButtonClick()">
                <a id="compareButton" class="item item-icon-left"> <i class="icon ion-plus positive"></i> Compare
                    Another Variable </a>
            </div>
            <div class="list card" ng-click="recordMeasurementButtonClick()">
                <a id="recordMeasurementButton" class="item item-icon-left"> <i class="icon ion-plus positive"></i>
                    Record Measurement </a>
            </div>
            <div class="list card" ng-click="addNewReminderButtonClick()">
                <a id="addReminderButton" class="item item-icon-left"> <i class="icon ion-plus positive"></i> Add
                    Reminder </a>
            </div>
            <div class="list card" ng-click="editSettingsButtonClick()">
                <a class="item item-icon-left"> <!--Find better icon in blue--> <i
                        class="icon ion-settings positive"></i> Analysis Settings </a>
            </div>
        </div>
    </ion-content>
    <div ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
</ion-view>
